*{

    font-family: "Poppins", sans-serif;
    
    margin: 5;
    
    padding: 1;
    
    scroll-padding-top: 5rem;
    
    scroll-behavior: smooth;
    
    list-style: none;
    
    text-decoration: none;
    
    box-sizing: border-box;
}

:root {
    
    --main-color: #ff7200;
    
    --text-color:#020102;
    
    --bg-color:#fff;
}

body {
    background-color: skyblue;
    font-family: "Roboto", sans-serif;
}

.heading {

    
    text-align: center;
    
}
.heading span {
    
    font-size: 50px;

    font-weight: 500;
    
    
    color: var(--main-color);
    
}
.heading p {
    
    font-size: 0.938rem;
    
    font-weight: 300;
}


.mustang-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.mustang-container .box {
    
    flex: 1 1 23rem;
    
    position: relative;
    
    padding: 10px;
    
    display: flex;
    
    flex-direction: column;
    
    background: #f6f6f6;
    
    border-radius: 0.5rem;
    
    overflow: hidden;
}

.mustang-container .box img{

    width: 100%;
    
    height: 100%;
    
    object-fit: cover;
    
    overflow: hidden;
    
    border-radius: 0.5rem;
}

.mustang-container .box img:hover {
    
    transform: scale(1.2);
    
    transition: 0.5s;

}

.btn{
    display: inline-block;
    padding: 5px 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    text-align: center;
}
.btn:hover{
    background-color: #3e8e41;
}
.details{
    margin-top: 15px;
}